*, *:before, *:after {
  box-sizing: border-box;
}

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
          text-size-adjust: none;
  text-decoration: none;
}

footer, header, nav, section, main {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

* img {
  max-width: 100%;
}

html {
  font-size: 10px;
}

body {
  font-family: "Poppins", sans-serif;
  height: 100%;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 27px;
  background-color: white;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.main {
  flex: 1 0 auto;
}

.footer {
  flex: 0 0 auto;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
}

.container-fluid {
  max-width: 1920px;
  padding: 0 10px;
  margin: 0 auto;
}

.header {
  background-color: lightgreen;
  padding: 10px 0;
}
.header__container {
  -moz-column-gap: 1rem;
       column-gap: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media screen and (max-width: 500px) {
  .header .header__container {
    justify-content: center;
  }
}
.header__logo {
  flex: 0 1 6.4rem;
}

.menu__list {
  display: flex;
  align-items: center;
  justify-content: center;
  -moz-column-gap: 4rem;
       column-gap: 4rem;
}
@media all and (max-width: 500px) {
  .navigation .container .menu .menu__list {
    display: none;
  }
}
.menu__link {
  color: white;
  font-weight: bold;
  transition: color 0.3s ease-out;
}
@media all and (any-hover: hover) {
  .menu__link:hover {
    color: green;
  }
}

.navigation {
  padding: 1.5rem 0;
  background-color: lightblue;
}

.content {
  margin: 5rem 0;
}
.content__container {
  -moz-column-gap: 2rem;
       column-gap: 2rem;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
@media all and (max-width: 750px) {
  .content__container {
    flex-direction: column;
    row-gap: 5rem;
    justify-content: center;
    align-items: center;
  }
}
.content img {
  flex: 0 1 20rem;
  height: 30rem;
}

.products__container {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  -moz-column-gap: 2rem;
       column-gap: 2rem;
}
   @media all and (max-width: 750px) {
  .products__container {
    flex-direction: column;
  }
}
.cart {
  background-color: white;
  box-shadow: 0px 5px 19px 0px rgba(34, 60, 80, 0.2);
  height: auto;
  padding: 1.5rem;
  flex: 0 1 30rem;
}
.cart__images {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cart__images-heart {
  flex: 0 1 2rem;
}
.cart__images-basket {
  flex: 0 1 2rem;
}

.cart__desc {
  line-height: 150%;
  margin-top: 1rem;
  text-align: right;
  font-size: 1.2rem;
}
.cart__desc:not(:last-child) {
  margin-bottom: 1rem;
}

.cart__desc-credit {
  font-weight: bold;
  color: purple;
}

.cart__desc-installment {
  font-weight: bold;
  color: crimson;
}

.item-cart__month {
  font-weight: bold;
  position: relative;
}
.item-cart__month::after {
  position: absolute;
  content: "";
  top: -15%;
  left: 0;
  right: 0;
  width: 100%;
  height: 0.2rem;
}

.item-cart__month-purple::after {
  background-color: purple;
}

.item-cart__month-red::after {
  background-color: crimson;
}

.item-cart__count {
  font-weight: bold;
  font-size: 1.4rem;
}

.cart__img {
  margin-top: 2rem;
  flex: 0 1 20rem;
  text-align: center;
}

.cart__text {
  line-height: 120%;
  text-align: center;
}
.cart__text-desc {
  color: #a6a6a6;
  font-size: 1.2rem;
}
.cart__text-title {
  color: gray;
  font-size: 1.4rem;
}

.cart__cost {
  display: flex;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 3rem;
       column-gap: 3rem;
  margin-top: 2rem;
}

.cart__cost-desc {
  position: relative;
  font-size: 1.8rem;
  font-weight: bold;
}
.cart__cost-desc::after {
  position: absolute;
  top: -20%;
  right: -60%;
  font-size: 1.2rem;
}

.cart__cost-desc-red {
  color: crimson;
}
.cart__cost-desc-red::after {
  content: "00";
  color: crimson;
}

.cart__cost-desc-gray {
  color: #b3b3b3;
  text-decoration: line-through;
}
.cart__cost-desc-gray::after {
  text-decoration: line-through;
  content: "68";
  color: #b3b3b3;
}

.cart__cost-main {
  color: gray;
}

.card {
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card__image {
  flex: 0 1 3.2rem;
}

.card__desc {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.2rem;
  -moz-column-gap: 1.6rem;
       column-gap: 1.6rem;
}

.card__desc-price {
  position: relative;
  font-weight: bold;
  font-size: 1.6rem;
}
.card__desc-price::after {
  position: absolute;
  content: "28";
  color: black;
  top: -20%;
  left: 105%;
  font-size: 1rem;
}

.card__desc-bonus {
  color: gray;
  line-height: 120%;
  border-bottom: 1px dashed gray;
}

.cart__type {
  position: relative;
  margin-top: 0.5rem;
  text-align: center;
  font-size: 1.2rem;
  color: gray;
}
.cart__type::before {
  position: absolute;
  content: "*";
  left: -1%;
  top: -10%;
  font-size: 1rem;
  color: gray;
}

.footer {
  margin-top: 4rem;
  padding: 5rem;
  background-color: purple;
}
.footer__container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer p {
  color: white;
}

.sel {
  margin: 10px;
  background-color: #FFFBE7;
  border-color: #CDBD9F;
  border-width: 3px;
  width: 98.7%;
  height: 8%;
  color: #A69070;
}

input {
  margin: 10px;
  background-color: #FFFBE7;
  border-color: #CDBD9F;
  border-width: 3px;
  border-style: solid;
  width: 97.7%;
  color: #A69070;
}

.inpt {
  height: 10%;
}

label {
  margin-left: 10px;
}

em {
  color: #952215;
}

#button {
  margin: 20px 0;
  padding: 10px 0;
  background-color: #FDB90F;
  -webkit-clip-path: polygon(25% 0%, 75% 0%, 90% 50%, 75% 100%, 25% 100%, 10% 50%);
          clip-path: polygon(25% 0%, 75% 0%, 90% 50%, 75% 100%, 25% 100%, 10% 50%);
  color: black;
  border-style: none;
  cursor: pointer;
  width: 30%;
  height: 100%;
  font-size: 70%;
  font-weight: 600;
}

.button__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

#month {
  width: 30%;
  height: 12%;
}

#year {
  width: 30%;
  height: 12%;
}

.net div {
  display: flex;
  flex-wrap: wrap;
}

hr {
  border: none;
  background-color: #952215;
  height: 4px;
  margin: 10px;
  margin-top: 0;
  margin-bottom: 10px;
}

@media screen and (max-width: 750px) {
  .products__container {
    flex-direction: column;
    row-gap: 5rem;
  }
}